pandas
scikit-learn
numpy
plotly.express
matplotlib
pulp
xgboost
datetime 
pytest 
python-dotenv 
minio
datetime
urllib3
psycopg2-binary
sqlalchemy
requests
polars
duckdb
great_expectations
streamlit
fastapi
pydantic
uvicorn
pytest